<layout-responsive class="max-1">
    <section class="list-view ngdialog-content-wrap">
        <div class="operation" style="float: right; z-index: 1; margin-bottom: 1px; margin-top: 0px;">

            <button class="btn btn-primary querybutton" type="button" ng-click="action.load();findmore=false;"><i class="fa fa-search"></i> 查询</button>
            <button class="btn btn-primary querybutton" type="button" ng-click="action.reset();"><i class="fa fa-undo"></i> 重置</button>
            <button ng-show="config.filtermoreItems" ng-init="findmore=false" ng-click="findmore=!findmore" class="btn btn-primary querybutton" type="button" ng-click="action.load();"><i class="fa fa-indent"></i> 更多</button>
            <button type="button" ng-click="isCollapsed=!isCollapsed" style=" border: none; background: none;"><i class="fa fa-chevron-up click" ng-class="{'fa-chevron-down':isCollapsed}"></i></button>
        </div>

        <div class="operation">
            <button authority authority-option="operation" data-ng-disabled="operation.readonly" ng-repeat="operation in config.listoperation" ng-class="operation.htmlClass" class="btn btn-primary opbutton" type="button" ng-click="operation.action($event,$parent);"><i class="fa {{operation.icon}}"></i> {{operation.name | translate}} </button>
        </div>

        <div ng-init="isCollapsed=true" ng-show="isCollapsed" style="background-color: #FFFFCC;">
            <form name="query" ng-submit="action.load();findmore=false;" class="list-queries query-form base-form ">

                <!--过滤部分-->
                <div style="position: relative;">
                    <layout-responsive class="max-6">
                        <ui-query ng-keypress="($event.which === 13)?action.load():0" ng-repeat="cf in config.filterItems" ng-model="filter" option="cf" class="query-item form-cells cell {{cf.css}}"></ui-query>
                    </layout-responsive>
                </div>

                <!--更多过滤-->
                <div ng-show="config.filtermoreItems" class="find-more" ng-class="{'show-more':findmore} " style="width: 370px;height: 420px;    padding: 10px;    padding-bottom: 0px;">
                    <div class="moreTitle">
                        <div class="moreTitlel">
                            <a>高级搜索</a>
                        </div>
                        <div class="moreTitler">
                            <div class="operation">
                                <button class="mymorebutton" type="button" ng-click="findmore=!findmore" style="margin-right: 0;"><i class="fa fa-remove"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="moreContent">
                        <layout-responsive class="max-2 morepr">
                            <ui-query ng-keypress="($event.which === 13)?action.load():0" ng-repeat="cf in config.filtermoreItems " ng-model="filter" option="cf" class="query-item form-cells cell {{cf.css}}"></ui-query>
                        </layout-responsive>
                    </div>
                </div>

            </form>
        </div>

        <!--
        </div>-->
        <div cg-busy="{promise:promise,templateUrl:'',message:loadmessage?loadmessage:'页面加载中..',backdrop:true,delay:0,minDuration:0}">
            <list-grid headers="config.headers" row-dblclick="action.rowclick;" onchangepage="action.changepage" resource="model" grid-api="config.gridApi" grid-key="config.gridkey" sortable="config.sortable"></list-grid>
        </div>



        <!--<div self-adaption postion="bottom">

        </div>-->

    </section>
</layout-responsive>