<div class="form-group has-feedback ">
    <div class="col-xs-12 col-sm-12 clearfix">



        <div class="col caption " ng-class="{'required':form.required}">
            <label class="control-label {{form.labelHtmlClass}}" ng-class="{'sr-only': !showTitle()}" for="{{form.key.slice(-1)[0]}}" style="color: #666666;font-weight: normal;">{{form.title | translate }}
            </label>
        </div>

        <div class="col content">
            <div class="operation " style=" margin-top: 0px; margin-bottom: 0px;">
                <button ng-hide="operation.hide" obj-control model="$parent.parentmodel?$parent.parentmodel:model" dmodel="model" form="operation" data-ng-disabled="operation.readonly" ng-repeat="operation in form.listoperation " class="btn btn-primary " ng-class="operation.htmlClass"
                    type="button" ng-click="operation.action($event,$parent); " style="height: 20px;"><i class="fa
                    {{operation.icon}} "></i> {{operation.name | translate}} </button>
            </div>
        </div>

        <div class="help-block clearfix text-right" sf-message="form.description"></div>
    </div>
</div>