<div ng-hide="form.hide" obj-control model="model" dmodel="model" form="form" class="schema-form-section has-feedback line_block_style">
    <div class="header smaller lighter collapsed" style="padding: 0;border: none;border-bottom: 1px solid #bec0c2;margin-top: 3px;">
        <label class="line_namestyle" style="padding: 0;width: 100%;text-align: center;background: #C6D7F1;border-bottom: 1px solid #C6D7F1;color: #000;font-weight: bold;font-size: 12px;"> {{form.title | translate}} </label>
    </div>
</div>