<div align="center" class="yes-uploader yes-ui center clearfix" style="min-height:35px;">
    <ul class="ace-thumbnails">
        <li class="cell100">
            <a class="cboxElement">
                <img ng-show="imageurl" ng-src="{{imageurl}}" ng-style="imagestyle">
            </a>
            <div ng-show="downurl" class="tools tools-bottom">
                <a href="{{downurl}}" target="_blank">
                    <i class="fa fa-download" style="font-size: 15px;"></i>
                </a>
            </div>
        </li>
    </ul>
</div>